/* Style buttons */
.btn {
  background-color: #ffd500;
  text-decoration: none;
  color: white;
  padding: 12px 40px;
  font-size: 16px;
  position: relative;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: Yellow;
}
